body {
    font-family: Arial, sans-serif;
    background-color: #333;
    text-align: center;
}
.contenedor-chat {
    width: 500px;
    margin: 20px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.caja-chat {
    height: 270px;
    overflow-y: auto;
    border: 1px solid #333;
    padding: 30px;
    text-align: left;
    border-radius: 20px;
}
.contenedor-entrada {
    margin-top: 10px;
}
input {
    width: 90%;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid #333;
}
button {
    width: 95%;
    background-color: #333;
    color: #fff;
    margin-top: 10px;
    border-radius: 30px;
    padding: 15px;
    cursor: pointer;
}

a{
    color: #fff;
    text-decoration: none;
}

[class="caja-chat"] a{
    color: #333;
}

@media (max-width: 768px) {
    .contenedor-chat{
        width: 250px;
        margin-top: 70px;
    }
    button{
        margin-top: 5px;
    }
}
